.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea


gateway/common/build/libs/
gateway/fabric/build/libs/
gateway/forge/build/libs/
gateway/fabric/run/
gateway/forge/run/

moreworld/fabric/run/
moreworld/forge/run/
moreworld/common/build/libs/
moreworld/fabric/build/libs/
moreworld/forge/build/libs/

