.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea


gateway/common/build/
gateway/build/
gateway/fabric/build/
gateway/forge/build/
gateway/fabric/run/
gateway/forge/run/

moreworld/fabric/run/
moreworld/forge/run/
moreworld/build/
moreworld/common/build/
moreworld/fabric/build/
moreworld/forge/build/

normandyloginer/fabric/run/
normandyloginer/forge/run/
normandyloginer/common/build/
normandyloginer/fabric/build/
normandyloginer/forge/build/

recorder/fabric/run/
recorder/forge/run/
recorder/common/build/
recorder/fabric/build/
recorder/forge/build/

colony/fabric/run/
colony/forge/run/
colony/common/build/
colony/fabric/build/
colony/forge/build/

sqlite/fabric/run/
sqlite/forge/run/
sqlite/common/build/
sqlite/fabric/build/
sqlite/forge/build/

banall/fabric/run/
banall/forge/run/
banall/common/build/
banall/fabric/build/
banall/forge/build/

group/fabric/run/
group/forge/run/
group/common/build/
group/fabric/build/
group/forge/build/

economy/fabric/run/
economy/forge/run/
economy/common/build/
economy/fabric/build/
economy/forge/build/

run/

